<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navbar" class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">BID<span>LIFE</span></a>
        <nav class="nav-menu">
            <a href="/items" class="nav-link">경매 둘러보기</a>
            <a th:href="${isLoggedIn != null and isLoggedIn} ? '/account/items/new' : '/login?redirect=/account/items/new'" class="nav-link btn-create">경매 등록</a>
        </nav>
        <div class="nav-auth" th:if="${isLoggedIn == null or !isLoggedIn}">
            <a href="/login" class="btn-login">로그인</a>
            <a href="/signup" class="btn-signup">회원가입</a>
        </div>
        <div class="nav-auth" th:if="${isLoggedIn != null and isLoggedIn}">
            <a href="/account" class="btn-mypage">마이페이지</a>
            <a href="/login/logout" class="btn-logout">로그아웃</a>
        </div>
    </div>
</header>
</html>
